<div id="new-ad-form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Ex: Best car! (optional)">
    </div>

    <div class=form-group">
        <label for="make">Make</label>
        <select name="make" id="make" class="form-control">
        {{#each this}}
            {{#manufacturers}}
                <option value="{{name}}">{{name}}</option>
            {{/manufacturers}}
        {{/each}}
        </select>
    </div>


    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" placeholder="Ex: M5">
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Ex: 20000">
    </div>


    <div class=form-group">
        <label for="fuel">Fuel type</label>
        <select name="fuel" id="fuel" class="form-control">
            <option value="Diesel">Diesel
            <option value="Petrol">Petrol
            <option value="Hybrid">Hybrid
            <option value="Other">Other
        </select>
    </div>

    <div class="form-group">
        <label for="power">Power</label>
        <input type="text" class="form-control" id="power" placeholder="Ex: 250">
    </div>

    <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="text" class="form-control" id="mileage" placeholder="Ex: 1000">
    </div>

    <div class="form-group">
        <label for="gearbox">Gearbox</label>

        <select name="gearbox" id="gearbox" class="form-control">
            <option value="Manual">Manual
            <option value="Automatic">Automatic
            <option value="Semi-automatic">Semi-automatic
        </select>
    </div>

    <div class="form-group">
        <label for="manufactureDate">Manufacture date</label>
        <select id="month" class="form-control">
        {{#each this}}
            {{#months}}
                <option value="{{@index}}">{{this}}</option>
            {{/months}}
        {{/each}}
      
        </select>

        <select id="year" class="form-control">
        {{#each this}}
            {{#years}}
                <option value="{{this}}">{{this}}</option>
            {{/years}}
        {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="image">Image url</label>
        <input type="text" class="form-control" id="image">
    </div>

    <input type="submit" id="submitAdInfo-btn" value="Add" class="btn-block btn-lg btn-primary">
</div>