<div id="currentAd">

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Ex: Best car! (optional)" value="{{_title}}">
    </div>

    <div class=form-group">
        <label for="make">Make</label>
         <input type="text" class="form-control" id="title" value="{{_make}}">
    </div>

    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" value="{{_model}}">
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" value="{{_price}}">
    </div>

    <div class=form-group">
        <label for="fuel">Fuel type</label>
        <input type="text" class="form-control" id="fuel" value="{{_fuel}}">
    </div>

    <div class="form-group">
        <label for="power">Power</label>
        <input type="text" class="form-control" id="power" value="{{_power}}">
    </div>

    <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="text" class="form-control" id="mileage" value="{{_mileage}}">
    </div>

    <div class="form-group">
        <label for="gearbox">Gearbox</label>
		<input type="text" class="form-control" id="gearbox" value="{{_gearbox}}">
    </div>

    <div class="form-group">
        <label for="manufactureDate">Manufacture date</label>
        <input type="text" class="form-control" id="manufactureDate" value="{{_manufactureDate}}">
    </div>

    <div class="form-group">
        <label for="image">Image url</label>
        <img src="{{_imageUrl}}" alt="{{_model}}" height="40" width="40">
    </div>

    <input type="submit" id="submitAdInfo-btn" value="Update" class="btn-block btn-lg btn-primary">

</div>