<h2 class="text-left page-title">My Ads</h2>
{{#if .}}
<div class="row">
    <div class="container-fluid col-lg-12 col-md-12 col-sm-12">
        {{#each .}}
            <div class="ad thumbnail" data-href="{{this._id}}">
                <div class="controls">
                    <span class="delete"></span>
                    <span class="edit"></span>
                </div>
                <h3 class="text-center">{{_title}}</h3>
                <img src={{_imageUrl}}>

                <div class="left">
                    <p>
                        <span class="manufacturer"></span>
                        <span class="info-field">Manufacturer:</span>
                        <span>{{_make}}</span>
                    </p>
                    <p>
                        <span class="fuel"></span>
                        <span class="info-field">Fuel:</span>
                        <span>{{_fuel}}</span>
                    </p>
                    <p>
                        <span class="gearbox"></span>
                        <span class="info-field">Gearbox:</span>
                        <span>{{_gearbox}}</span>
                    </p>
                    <p>
                        <span class="manufactureDate"></span>
                        <span class="info-field">Manufacture Date:</span>
                        <span>{{_manufactureDate}}</span>
                    </p>
                </div>
                <div class="right">
                    <p>
                        <span class="mileage"></span>
                        <span class="info-field">Mileage:</span>
                        <span>{{_mileage}}</span>
                    </p>
                    <p>
                        <span class="model"></span>
                        <span class="info-field">Model:</span>
                        <span>{{_model}}</span>
                    </p>
                    <p>
                        <span class="power"></span>
                        <span class="info-field">Power:</span>
                        <span>{{_power}}</span>
                    </p>
                    <p>
                        <span class="price"></span>
                        <span class="info-field">Price:</span>
                        <span>{{_price}}</span>
                    </p>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{else}}
    <div class="container container-table">
        <div class="row vertical-center-row">
            <div class="text-center col-md-4 col-md-offset-4">
                <h3>
                    <p>You still don't have any ads.</p>
                    <p>It's time to change that!</p>
                </h3>
            </div>
        </div>
    </div>
{{/if}}

